/*OBSERVAÇÕES SOBRE NOMES DAS CLASSES*
 
Classes com '--' mudam a aparencia do elemento 
Exemplo: .bg--color-blue  mudará a cor do background


*/
:root{
    --primary-color: #C83D2F;
    --gray-color: #707070;
    --background-light: #f3f3f3;
}

body{
    background-color: var(--background-light);
}

.bg--primary-color{
    background-color: var(--primary-color);
}

.text--primary-color{
    color: var(--primary-color);
}
.text--gray-color{
    color: var(--gray-color);
}

/* PROGRESS BAR */

.progressbar{
    margin-top: 2rem;   
    position: relative;
}
.progressbar::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background-color: var(--gray-color);
}

.progress--step{
    width: 1rem;
    height: 1rem;
    background-color: var(--gray-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.progress--step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.625rem; 
    width: 80px;
    text-align: center;   
}
