/*OBSERVAÇÕES SOBRE NOMES DAS CLASSES*
 
Classes com '--' mudam a aparencia do elemento 
Exemplo: .bg--color-blue  mudará a cor do background


*/
:root{
    --primary-color: #C83D2F;
    --gray-color: #707070;
    --background-light: #f3f3f3;
}

body{
    background-color: var(--background-light);
}

.bg--primary-color{
    background-color: var(--primary-color);
}

.text--primary-color{
    color: var(--primary-color);
}
.text--gray-color{
    color: var(--gray-color);
}

.text--label-color{
    color: #9C9B99;
    font-size: 14px;
}

/* PROGRESS BAR */

.progressbar{
    margin-top: 2rem;   
    position: relative;
}
.progressbar::before, .progress{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background-color: var(--gray-color);
}

.progress{
    background-color: var(--primary-color);
    width: 0%;
  
}

.progress--step{
    width: 1rem;
    height: 1rem;
    background-color: var(--gray-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.progress--step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.625rem; 
    width: 80px;
    text-align: center;   
}

.progress--step-active{
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    z-index: 2;
}

.checkbox--form{
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: white;
}


.btn--style{
    height: 3.3125rem;
    width: 7.25rem;
    color: #fff;
    background-color: var(--gray-color);
    font-size: 1rem;   
    outline: none;
    border: none;
}

.tel--input-ddd{
    width: 3.875rem;
    height: 2.875rem;
    border: 1px solid #ced4da;;
    border-radius: 2px;
    outline: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.tel--input{
    width: 11.6875rem;
    height: 2.875rem;   
    border-radius: 2px;
    outline: none;
}